*{
    margin: 0px;
    padding: 0px;
}

.container{
    width: 500px;
    border: 2px solid black;
    background-image: url(./assets/image.png);
    background-position: center;
    border-radius: 20px;
    overflow: hidden;
    background-size: center;
}
.scroll{
    height: 100%;
    font-size: 1.3rem;
    transform: translateX(100%);
    transition: all 1s linear 0s;
    padding: 10px;
    overflow: hidden;

}
.container:hover{
    transform: translateX(0px);
}
.btn{
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    transition: all 0.3s linear 0s;
}
.btn:hover{
    background-color: black;
    color: white;
    transform: scale(1.1);
}
.box{
    width: 700px;
    background-size: cover;
    border: 3px solid black;
    padding: 20px;
    border-radius: 30px;
    transform: translateX(200px);
}
h1{
    width: 100;
    border: 2px solid white;
    background-color: blue;
}
.new{
    background-color: pink;
}
.now{
    background-color: aqua;
}
.ne{
    background-color: bisque;
}
.nee{
    background-color: yellowgreen;
}
.no{
    background-color: antiquewhite;
}
.nw{
    background-color: powderblue;
}
.nex{
    background-color: gold;
}