*{
    margin: 0px;
    padding: 0px;
}

.container{
    width: 500px;
    height: 300px;
    border: 2px solid black;
    background-image: url(./assets/image.png);
    background-position: center;
    border-radius: 20px;
    overflow: hidden;
    background-size: cover;
}
.scroll{
    height: 100%;
    font-size: 1.3rem;
    transform: translateX(100%);
    transition: all 1s linear 0s;
    backdrop-filter: blur(5px) brigthness(50%);
    color: pink;
    padding: 10px;
    overflow: hidden;

}
.container:hover>.scroll{
    transform: translateX(0px);
}
.btn{
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    transition: all 0.3s linear 0s;
}
.btn:hover{
    background-color: white;
    color: black;
    transform: scale(1.1);
}
.box{
    width: 700px;
    background-size: cover;
    border: 3px solid black;
    padding: 20px;
    border-radius: 30px;
    transform: translateX(200px);
}
h1{
    width: 100;
    border: 2px solid white;
}
.abs{
    background-color: pink;
}
.int{
    background-color: aqua;
}
.work{
    background-color: bisque;
}
.adv{
    background-color: yellowgreen;
}
.lim{
    background-color: antiquewhite;
}
.con{
    background-color: powderblue;
}
.fut{
    background-color: gold;
}